<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rov Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert2 CDN -->
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Rov Account Store</h1>
            <div class="admin-section">
                <p id="admin-username" style="display: none; margin-right: 10px;"></p>
                <form id="logout-form" action="{{ url_for('admin_logout') }}" method="POST" style="display: none;">
                    <button type="submit" class="logout-button" onclick="logout()">Logout</button>
                </form>
            </div>
        </div>
    </header>           
    
    <main>
        <div id="product-list"></div>
    </main>

    <footer>
        <p>&copy; 2024 Rov Store. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script> <!-- Call the external JS file -->
</body>
</html>
