<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product_detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product_add.css') }}">
    <!-- Include SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <header>
        <h1>Add New Rov Account</h1>
    </header>

    <main>
        <div class="product-detail">
            <form id="add-product-form">
                <h3>อัพโหลดรูปภาพหลัก</h3>
                <label for="mainImageUpload" class="file-upload-label">อัพโหลดรูปภาพหลัก (เลือกไฟล์)</label>
                <input type="file" id="mainImageUpload" accept="image/*" required class="file-upload-input">
                <br>
                <img id="mainImagePreview" src="" alt="Main Image Preview" style="display: none; max-width: 200px; margin-top: 10px;">
                <br>

                <label for="price">ราคา :</label>
                <input type="number" id="price" name="price" placeholder="Enter price" required>
                <br>

                <label for="description">รายละเอียด :</label>
                <textarea id="description" name="description" placeholder="Enter product description" required></textarea>
                <br>

                <h3>อัพโหลดรูปภาพเพิ่มเติม</h3>
                <div id="additional-images">
                    <label for="additionalImagesUpload" class="file-upload-label">อัพโหลดรูปภาพเพิ่มเติม (เลือกไฟล์)</label>
                    <input type="file" id="additionalImagesUpload" accept="image/*" multiple class="file-upload-input">
                    <p id="imageCountMessage">คุณสามารถอัพโหลดรูปภาพเพิ่มเติมสูงสุด 25 รูป</p>
                    <p id="remainingImagesMessage"></p>
                    <div id="additionalImagesPreview" class="image-preview-container"></div>
                </div>
                <br>

                <button type="submit">เพิ่ม</button>
            </form>
            <a href="/" class="back-link">กลับสู่หน้าหลัก</a>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Rov Store. All rights reserved.</p>
    </footer>
    <!-- Include SweetAlert JS -->
    <script src="/config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='scripts/product_add.js') }}"></script> 
</body>
</html>
