<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product_detail.css') }}">
</head>
<body>
    <header>
        <h1>Rov Account Details</h1>
    </header>

    <main>
        <div class="product-detail">
            <h2>ราคา: {{ product.price }} บาท</h2>
            <p>รายละเอียด: {{ product.description }}</p>
            <p>รหัสสินค้า: {{ product.id }}</p>

            <h3>รูปภาพหลัก:</h3>
            <img src="http://localhost:3000/uploads/{{ product.image }}" alt="Main Product Image" class="expandable-image">

            <h3>รูปภาพเพิ่มเติม:</h3>
            <div class="additional-images">
                {% if product.additionalImages %}
                    {% for image in product.additionalImages %}
                        <img src="http://localhost:3000/uploads/{{ image }}" alt="Additional Product Image" class="expandable-image">
                    {% endfor %}
                {% else %}
                    <p>ไม่มีรูปภาพเพิ่มเติม</p>
                {% endif %}
            </div>
            <a href="/">กลับสู่หน้าหลัก</a>
        </div>
    </main>

    <!-- Modal for image enlargement -->
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
        <div id="caption"></div>
    </div>

    <footer>
        <p>&copy; 2024 Rov Store. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='scripts/product_detail.js') }}"></script>
</body>
</html>
